@@ -0,0 +1,361 @@
@font-face {
  font-family: 'Directors Gothic 210';
  src: url(fonts/Directors Gothic 210/Lettering Inc - DirectorsGothic201-Regular.otf);
}
@font-face{
  font-family: 'LubalinGraph';
  src: url(fonts/lubalingraphstd-book-webfont.woff);
}
*{
  box-sizing: border-box;
}

body{
  font-family: 'Directors Gothic 210';
  margin: auto;
  padding: 0;
  background: #f4f4f4;
}

/*Navbar*/
#header{
    display: flex;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: green 3px solid;
    z-index: 10;
}

#header nav {
    align-items: center;
    display: flex;
    margin: 0px 20px;

}

#header h1{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #000000;

}

a {
    text-decoration:none;
}

#header h1 span{
  letter-spacing: 15px;
}

.logoimg{
    width: 150px;
    margin: 0px 5px;
}


ul{
  list-style-type:none;
  display:flex;
  justify-content: flex-end;
}

ul li{
  display: list-item;
  padding: 5px 10px;
  margin: 20px 10px;
  font-weight: bold;
  font-size: 30px;

}

.imgpanier{
  width: 60px;
}

a:hover .imgpanier{
  color: blue;
}


li a {
  text-decoration:none;
  color: #000000;
  transition: color 0.3s ease;
}

li a:hover
{
  color: green;
}

/*box*/
.container_box{
  display: flex;
  flex-flow: wrap;
  margin-left: 100px;
}

.box{
  width: 33.33%;
  margin-bottom: 15px;

}

.boxDetail {
  width: 310px;
  height: 50px;
  overflow: hidden;
}

.boxBlank{
  width: 310px;
  height: 22px;
  text-transform: uppercase;
  font-size: 20px;
  text-align:center;
  color:#ffffff;
  background-color: green;
}
.boxDetail{
  overflow: hidden;
  font-size: 20px;


}

.boxBtAjouter{
  margin-top: 5px;
  width: 94px;
  height: 40px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-color:green;
}

.boxInf{
  margin-top: 5px;
  margin-left: 5px;
  width: 211px;
  height: 40px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
}

.boxInfo{
  display: flex;
}

#footer{
    position: fixed;
    background: #ffffff;
    color: white;
    bottom: 0px;
    width: 100%;
    padding: 1px;
    padding-right: 200px;
}

#footer a{
    float: right;
    margin-right: 20px;
}

#footer span{
  color: black;
}


.styled-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    margin: 25px 0;
    font-size: 18px;
    min-width: 400px;
    overflow: hidden;
}

/*en tête*/
.styled-table thead tr {
    background-color: grey;
    color: #ffffff;
    font-size: 20px bold;
    text-align: center;

}

.styled-table tbody tr:nth-of-type(even) {
    background-color: green;
}

.styled-table th, td {
  column-width: 600px;
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: center;

}


.styletable2 {
    margin-left: auto ;
    margin-right: auto ;
}
.styled-table2 thead tr {
    background-color: green;
    color: #ffffff;
    text-align: left;

}
.styled-table2 thead tr {
    background-color: green;
    color: #ffffff;
    font-size: 25px bold;
    text-align: center;

}


.styled-table2 {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}



.btPanier{
    text-align: left;
    margin-left: 25px;


}
.btPanierStyle {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 14px;
    border: 0px solid #177642;
    border-radius: 100px;
    background: green;
    font: normal normal bold 13px courier new;
    color: #ffffff;
    text-decoration: none;
}
.btPanierStyle:hover,
.btPanierStyle:focus {
    border: 0px solid ##1d9352;
    background: #47ac74;
    background: grey;
    color: #ffffff;
    text-decoration: none;
}
.btPanierStyle:active {
    background: #23563a;
    background: -webkit-gradient(linear, left top, left bottom, from(#23563a), to(#177642));
    background: -moz-linear-gradient(top, #23563a, #177642);
    background: linear-gradient(to bottom, #23563a, #177642);
}
